@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", sans-serif;
}

section {
  margin: 60px 10%;
}

h1,
h2,
h3,
p {
  color: #0d1321;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 44px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}

.section-heading {
  text-align: center;
}
.section-heading h2 {
  font-weight: 600;
}

button {
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}

/* img {
  width: 100%;
} */
/* End of Common Styles */

/* Banner Section */
.navbar {
  margin: 40px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  background-image: url(assets/Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
  text-align: center;
}
.banner p {
  margin: 20px 0;
}

.banner-btn {
  background-color: #000;
  color: #fff;
}
/* End of Banner Section */

/* Card section */
.section-2 {
  background-color: #eee;
  padding: 20px 40px;
}
.section-heading {
  margin: 40px 0;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 8px;
  padding: 20px;
}

.card p {
  margin: 20px 0;
}

.video-part {
  border: 1px solid #0d1321;
  border-radius: 10px;
  padding: 20px;
}

.video-part iframe {
  width: 100%;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}
/* End of Card section */

/* Section 4 */
.current-target-cards {
  display: flex;
}

.current-card {
  padding: 10px;
  font-size: 14px;
}

.current-card p {
  margin: 20px 0;
}

.html-card,
.css-card,
.js-card {
  padding: 20px;
  border-radius: 8px;
}

.html-card {
  background-color: #ff390617;
}
.css-card {
  background-color: #004ce817;
  margin: 0 20px;
}
.js-card {
  background-color: #ffdf002b;
}

.current-card a {
  color: #0d1321;
  font-size: 16px;
  line-height: 24px;
}
/* End of Section 4 */

/* Section 5 */
.next-card {
  display: flex;
  margin-bottom: 40px;
  border: 1px solid #0d132111;
  padding: 20px;
  border-radius: 10px;
}

.next-card img {
  width: 120px;
  height: 100%;
  margin-right: 40px;
  object-fit: contain;
}

.next-card-description p {
  margin: 10px 0;
}

.next-card-description a {
  color: #0d1321;
}
/* End of Section 5 */

/* Section 6 */
.input-section {
  text-align: center;
}

.input-section input {
  width: 50%;
  padding: 10px 30px;
  border-radius: 6px;
  font-size: 18px;
}

.input-section button {
  padding: 10px 30px;
  border-radius: 6px;
}
/* End of Section 6 */

/* Footer Section */
footer {
  padding: 20px 0;
  background-color: #0d13210f;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}

footer p {
  color: #000;
  z-index: 1;
}

footer a {
  text-decoration: none;
}

.footer-details a img {
  width: 24px;
}
/* End of Footer Section */
