@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", sans-serif;
}

section {
  margin: 60px 10%;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 44px;
}
h2 {
  font-size: 24px;
}

.section-heading {
  text-align: center;
}
.section-heading h2 {
  font-weight: 600;
}

button {
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}

/* img {
  width: 100%;
} */
/* End of Common Styles */

/* Banner Section */
.navbar {
  margin: 40px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  background-image: url(assets/Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
  text-align: center;
}
.banner p {
  margin: 20px 0;
}

.banner-btn {
  background-color: #000;
  color: #fff;
}
/* End of Banner Section */

/* Card section */
.section-2 {
  background-color: #eee;
  padding: 20px 40px;
}
.section-heading {
  margin: 40px 0;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 8px;
  padding: 20px;
}

.card p {
  margin: 20px 0;
}
/* End of Card section */
